<h1>New Album</h1>

<% if flash[:errors] %>
<% flash[:errors].each do |error| %>
 <%= error %> <br>
<% end end%>

<form action = "<%= band_albums_url %>" method = "POST">
  <label for ="band_name">Band Name</label>
  <select id = "band_name" name = "album[band_id]">
    <% Band.all.each do |band|%>
    <option value = "<%= band.id %>"><%= band.name %></option>
    <% end %>
  </select> <br>
  <label for = "album_name">Album Name</label>
  <input id = "album_name" name = "album[name]" value = "<%= @album.name %>"> <br>
  <input type = "submit" value = "Create Album">
<form>